* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roobert-Regular';
    src: url('../fonts/Roobert-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Roobert-Medium';
    src: url('../fonts/Roobert-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Roobert-SemiBold';
    src: url('../fonts/Roobert-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Roobert-Bold';
    src: url('../fonts/Roobert-Bold.otf') format('opentype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roobert-Bold';
}

p {
    font-family: 'Roobert-Regular';
    margin-bottom: 10px;
}

img {
    width: 100%;
}

a {
    font-family: 'Roobert-Medium';
    text-decoration: none;
    color: #007bff;
}

.text-center {
    text-align: center;
}

body {
    font-family: 'Roobert-Medium';
    font-size: 16px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

header,
nav,
main,
footer {

    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: underline;
}

ul,
ol {
    margin-left: 35px;
}

/* Header Css */
header {
    background-color: #ea3f37;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-outer {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;

}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    margin-right: 30px;
}

.menu li a {
    text-transform: uppercase;
    color: black;
    font-size: 14px;
}

.menu li:last-child {
    margin-right: 0;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info .sign-in {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    margin: 0 25px 0 0;
}

.user-info .account-img {
    width: 24px;
    height: 24px;
}

.user-info .group-img {
    width: 24px;
    height: 24px;
    margin-left: 25px;
}

/* SLider Css */
.slider {
    width: 100%;
    height: 610px;
    /* Adjust as needed */
    overflow: hidden;
    position: relative;
    display: block;
}

.content button:hover {
    opacity: 0.8;
}

.slide1 {
    background-image: url('/images/slide1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 610px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: opacity 0.5s ease;
}

.slide1 .content h1 {
    color: #FBECDD;
    font-size: 100px;
    line-height: 90px;
    text-transform: capitalize;
}

.slide1 .content p {
    color: #FBECDD;
    font-size: 19px;
    line-height: 26px;
}

.slide1 .content button {
    background-color: #FBECDD;
    font-size: 16px;
    line-height: 19px;
    border-radius: 60px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}

.slide2 {
    background-image: url('/images/slide2.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 610px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: opacity 0.5s ease;
}

.slide2 .content {
    position: relative;
    bottom: 68px;
}

.slide2 .content h1 {
    color: #000;
    font-size: 100px;
    line-height: 90px;
    text-transform: capitalize;
}

.slide2 .content p {
    color: #000;
    font-size: 19px;
    line-height: 26px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.slide2 .content button {
    background-color: #EA3F37;
    font-size: 16px;
    line-height: 19px;
    border-radius: 60px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.slide3 {
    background-image: url('/images/slide3.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 610px;
    display: flex;
    align-items: center;
    position: absolute;
    transition: opacity 0.5s ease;
    justify-content: flex-start;

}

.slide3 .content {
    width: 50%;
    position: relative;
    left: 70px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;

}

.slide3 .content h1 {
    color: #000;
    font-size: 100px;
    line-height: 108px;
    text-transform: capitalize;
    text-align: left;
}

.slide3 .content p {
    color: #000;
    font-size: 19px;
    line-height: 26px;
    width: 60%;
    text-align: left;
}

.slide3 .content button {
    background-color: #EA3F37;
    font-size: 16px;
    line-height: 19px;
    border-radius: 60px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;

}

.content {
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.content button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Bottel Sec */

.bottel-sec-outer {
    display: flex;
    justify-content: space-between;
    background-color: #EA3F37;
    padding: 80px 100px 0 100px;
    display: block;
}


.column-main-outer {
    display: flex;
    justify-content: space-between;
}

.column {
    width: calc(33.33% - 10px);
    padding: 0 5px;
    box-sizing: border-box;
}

.bottel-sec-outer .column h3 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 500 !important;
    font-family: 'Roobert-Medium';
}

.img-sec {
    position: relative;
    top: -110px;
    justify-content: center;
    display: flex;
}

.column img {
    display: block;
    width: 254px;
    height: 728px;
    margin-bottom: 20px;

}

.card-outer {
    margin-top: 50px;
}

.better-sec {
    margin-top: 98px;
}

.card {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 50px;
}

.image {
    flex: 0 0 auto;
}

.image img {
    display: block;
    width: 48px;
    height: 48px;
}

.text {
    flex: 1;
    padding: 0 10px;
}

.text h2 {
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 7px;
    font-weight: 700;
}

.text p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: 500;
    width: 70%;
}

/* Product Section Css */
.product-title-sec-outer {
    justify-content: center;
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.product-title-text {
    width: 35%;
}

.product-title-text h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 500;
    font-family: 'Roobert-Medium' !important;
    width: 90%;
}

.product-desc-text p {
    width: 53%;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
}

.product-sec-outer {
    background-color: #EA3F37;
    margin-top: 20px;
    padding: 30px 0;
}

.plans {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.plan {
    background-color: #fbecdd;
    width: 300px;
    margin: 0 10px;
    padding: 20px;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 15px;
}

.plan:hover {
    background-color: #fff;
}

.topchoice-img {
    position: absolute;
    right: -27px;
    top: -43px;
    width: 146px !important;
    height: 146px !important;

}

.plan h2 {
    color: #000;
    font-size: 19px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.plan img {
    width: 100px;
    height: auto;
}

.price {
    font-size: 18px;
    margin: 10px 0;
    border: 1px solid #000;
    padding: 15px;
    background-color: #fff;
}

.price .plan-name-text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #000;
}

.price .plan-desc {
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    text-align: left;
}

.qty-selection-sec-outer {
    border: 1px solid #000;
    margin-bottom: 30px;
    background-color: #fff;
}

.qty-selection-sec-outer h3 {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    padding: 15px 15px 0 15px;
}

.annual,
.monthly,
.onetime {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}

.annual label,
.monthly label,
.onetime label {
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.annual input[type="radio"],
.monthly input[type="radio"],
.onetime input[type="radio"] {
    display: none;
}

.annual input[type="radio"]+label,
.monthly input[type="radio"]+label,
.onetime input[type="radio"]+label {
    padding: 10px 14px;
    border: 2px solid #000;
    border-radius: 50%;
}

.annual input[type="radio"]:checked+label,
.monthly input[type="radio"]:checked+label,
.onetime input[type="radio"]:checked+label {
    background-color: #000 !important;
    color: white;
}


.plan .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ef4e4d;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    width: 260px;
    height: 46px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.guarantee-text {
    font-size: 12px;
    font-weight: 500;
    color: #000;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.feature {
    margin: 0 10px;
    text-align: center;
}

.feature img {
    width: 60px;
    height: 60px;
}

.feature p {
    font-size: 19px;
    font-weight: 700;
}

/* Footer CSS */

footer {
    background-color: #ea3f37;
    color: white;
    padding: 20px 0;

    margin-top: 25px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column h3 {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #000;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.footer-column ul li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 36px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.footer-bottom p,
.footer-bottom input,
.footer-bottom button {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-bottom .email-subscribe-outer .email-input-outer {
    border: 1px solid #000;
    background-color: transparent;
    border-radius: 0;
}

.footer-bottom .email-subscribe-outer input {
    background-color: transparent;
    border-radius: 0;
    margin: 0;
    padding: 15px;
}

.footer-bottom .email-subscribe-outer button {
    margin: 0
}

.footer-bottom .email-subscribe-outer ::placeholder {
    font-size: 14px;
    color: #000;
    font-weight: 500;
    margin: 0;
}

.footer-bottom button {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 16px;
}

.footer-logo {
    width: 127px;
    height: 36px;
    margin-bottom: 20px;
}

.social-media {
    display: flex;
}

.social-media li {
    padding-right: 10px;
}

.social-media img {
    width: 20px;
    height: 20px;
}

input[type="email"] {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #f84e47;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6161;
}

footer p {
    margin: 0;
}

.copyright {
    text-align: right;
}

.copyright h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    color: #000;
    font-family: 'Roobert-Medium' !important;
}

.copyright p {
    font-size: 14px;
    line-height: 24px;
}


.menu-bar {
    display: none;
}

.menuSideSec {
    display: none;
}

.mb-slider-sec-outer {
    display: none;
}

.mb-bottel-sec-outer {
    display: none;
}

.mb-footer {
    display: none;
}

/* Adjust responsive behaviors as needed */
@media (max-width: 981px) {

    .bottel-sec-outer {
        display: none;
    }

    .plans {
        flex-direction: column;
        align-items: center;
    }

    .product-title-sec-outer {
        flex-direction: column;
        width: 100%;
    }

    .product-title-text {
        width: 100%;
    }

    .product-title-text h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .product-desc-text p {
        width: 100%;
        text-align: center;

    }


}


@media (max-width: 768px) {


    .menu {
        display: none;
    }

    .user-info p {
        display: none;
    }

    .menuSideSec {
        width: 0;
        position: fixed;
        z-index: 1;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        padding-top: 60px;
        display: block;
    }

    .menuSideSec a {
        padding: 10px 20px;
        text-decoration: none;
        font-size: 22px;
        color: #000;
        display: block;
        transition: 0.3s;
        text-transform: uppercase;
    }

    .menuSideSec a:hover {
        color: #929191;
    }

    .menuSideSec .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    .menu-bar {
        font-size: 20px;
        cursor: pointer;
        background-color: transparent;
        color: #000;
        padding: 10px 15px;
        border: none;
        display: block;
    }

    .menu-bar:hover {
        background-color: #444;
    }

    .slider {
        display: none;
    }

    .mb-slider-sec-outer {
        display: block;
    }

    .mb-slider-sec-outer img {
        height: 200px;
    }

    .mobile-slider-sec {
        background-color: #FBECDD;
        padding: 15px;
        margin: 0;
    }

    .mobile-slider-sec .content h1 {
        color: #000;
        font-size: 48px;
        line-height: 50px;
        font-weight: 700;
    }

    .mobile-slider-sec .content p {
        color: #000;
    }

    .mobile-slider-sec .content button {
        background-color: #EA3F37;
        color: #000;
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
        border-radius: 25px;
    }

    .product-title-sec-outer {
        flex-direction: column;
        width: 100%;
    }

    .product-title-text {
        width: 100%;
    }

    .product-title-text h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .product-desc-text p {
        width: 100%;
        text-align: center;

    }

    .mb-bottel-sec-outer {
        display: block;
        background-color: #EA3F37;
        padding: 20px
    }

    .mb-bottel-sec-outer h3 {
        font-size: 36px;
        line-height: 42px;
        font-weight: 500;
        text-align: center;
    }

    .mb-bottel-sec-outer img {
        width: 134px;
        height: 382px;
        margin: 20px auto;
        text-align: center;
        align-items: center;
        display: flex;
    }

    .mb-bottel-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mb-bottel-sec-outer .mb-button-outer {
        width: 100%;
    }

    .mb-bottel-sec-outer button {
        background-color: #FBECDD;
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
        justify-content: center;
        display: flex;
        width: 280px;
        margin: 0 auto;
        text-align: center;
        color: #000;
        border-radius: 25px;
        margin-top: 10px;
    }

    .testimonial {
        position: relative;
        width: 100%;
        padding: 0;
        overflow: hidden;
    }


    .testimonial .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 30px;
        height: 100%;
        width: 100%;
    }

    .swiper-slide .card .image {
        width: 25%;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    .swiper-slide .card .image img {
        margin: 0;
    }

    .swiper-slide .card .text {
        width: 75%;
    }

    .swiper-slide .card .text p {
        width: 100%;
    }

    .swiper-slide img {
        width: 50px;
        height: 50px;
    }

    .slide p {
        text-align: center;
        padding: 0 160px;
        font-size: 14px;
        font-weight: 400;
        color: #333;
    }

    .slide .quote-icon {
        font-size: 30px;
        color: #4070f4;
    }

    .slide .details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .details .name {
        font-size: 14px;
        font-weight: 600;
        color: #333;
    }

    .details .job {
        font-size: 12px;
        font-weight: 400;
        color: #333;
    }


    .nav-btn {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        transform: translateY(30px);
        background-color: rgba(0, 0, 0, 0.1);
        transition: 0.2s;
    }

    .nav-btn:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .nav-btn::after,
    .nav-btn::before {
        font-size: 20px;
        color: #fff;
    }

    .swiper-pagination-bullet {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .swiper-pagination-bullet-active {
        background-color: #4070f4;
    }

    .plans {
        flex-direction: column;
        align-items: center;
    }

    footer {
        display: none;
    }

    .mb-footer {
        background-color: #ea3f37 !important;
        color: white;
        padding: 20px 0;
        margin-top: 25px;
        display: block;
    }

    .footer-container {
        flex-direction: column;
        align-items: self-start;
    }

    .footer-column {
        margin-bottom: 20px;
        width: 100%;
    }

    .footer-column h3 {
        justify-content: space-between;
        display: flex;
        font-size: 24px;
        font-weight: 500;
        font-family: 'Roobert-Regular' !important;
    }

    .footer-column h3 img {
        width: 18px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-bottom input,
    .footer-bottom button {
        margin-top: 10px;
    }

    .social-media {
        justify-content: center;
        margin: 20px 0;
        width: 100%;
    }

    .social-media li {
        list-style: none;
    }

    .accordion-title {
        cursor: pointer;
        user-select: none;
    }

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    .accordion-content.active {
        max-height: 500px;
    }

    .arrow-icon {
        transition: transform 0.3s ease-out;
        transform: rotate(180deg);
    }

    .arrow-icon.rotate {
        transform: rotate(0deg);
    }
}